[Desktop Entry]
Name=Perl Analog Clock
Comment=A clock with hands, using Perl bindings
Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=kperlpluginfactory
X-KDE-PluginKeyword=plasma_applet_perl_analogclock/Clock.pm
X-KDE-PluginInfo-Author=The Plasma Team, Perl translation by Chris Burel
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Email=kde-bindings@kde.org
X-KDE-PluginInfo-Name=perl-clock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Website=http://techbase.kde.org/Development/Languages
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

